*,
::after,
::before {
  padding: 0;
  margin: 0;
  text-align: center;
}
.container-fluid{
  height: 100vh;
  position: absolute;
  top: 50%;
  padding: 10px;
  font-family: Montserrat;
  
}

#btn{
  cursor: pointer;
}